/* You can add global styles to this file, and also import other style files */
/* ===================
Author: Satham Hussain
Copyright 2019 satham
Developed for mock facebook revamp
Swatch Colors
#f5f5f5 -- Smokewhite
====================== */

/* resets and overrides
====================== */

html, body { height: 100%; }

* {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Roboto, Oxygen-sans, Ubuntu, Cantarell, "Helvitica Neue", sans-serif !important;
}

body * {
	font-family: Roboto, Oxygen-sans, Ubuntu, Cantarell, "Helvitica Neue", sans-serif !important;
}

ul {
	list-style-type: none;
}

/* Link and type
================ */
a:hover, a:active, a:visited, a:link {text-decoration: none;}

body {
	font-size: 100%;
	background: #fffcf9;
}

a, span {
	display: inline-block;
}

/* main layout
============== */
header {
	position: fixed;
	width: 100%;
	height: 44px;
	top: 0;
	/*background: #673ab7;*/
	background: #5666c0;
	z-index: 1000;
}

aside {
	position: fixed;
	top: 44px;
	height: 100%;
	width: 16.66%;
	box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12); 
	background: smokewhite;
}

section {
	position: relative;
	top: 44px;
	/*
	left: 0%;
	width: 100%;
	*/
	z-index: 100;
	padding-left: 30px;
	padding-bottom: 40px;
	/*	box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12); */
}

footer {
	position: fixed;
	width: 100%;
	height: 44px;
	bottom: 0;
	/*background: #673ab7;*/
	background: #5666c0;
	z-index: 1000;
}

/* secondary layout
=================== */
[class*="col-"]{
	width: 100%;
}

@media only screen and (min-width: 600px) {
	.col-s-1 {
		width: 8.33%;
	}
	.col-s-2 {
		width: 16.66%;
	}
	.col-s-3 {
		width: 25%;
	}
	.col-s-4 {
		width: 33.33%;
	}
	.col-s-5 {
		width: 41.66%;
	}
	.col-s-6 {
		width: 50%;
	}
	.col-s-7 {
		width: 58.33%;
	}
	.col-s-8 {
		width: 66.66%;
	}
	.col-s-9 {
		width: 75%;
	}
	.col-s-10 {
		width: 83.33%;
	}
	.col-s-11 {
		width: 91.66%;
	}
	.col-s-12 {
		width: 100%;
	}
	.mobile {
		display: block;
	}
	.desktop {
		display: none;
	}
}

@media only screen and (min-width: 768px) {
	.col-l-1 {
		width: 8.33%;
	}
	.col-l-2 {
		width: 16.66%;
	}
	.col-l-3 {
		width: 25%;
	}
	.col-l-4 {
		width: 33.33%;
	}
	.col-l-5 {
		width: 41.66%;
	}
	.col-l-6 {
		width: 50%;
	}
	.col-l-7 {
		width: 58.33%;
	}
	.col-l-8 {
		width: 66.66%;
	}
	.col-l-9 {
		width: 75%;
	}
	.col-l-10 {
		width: 83.33%;
	}
	.col-l-11 {
		width: 91.66%;
	}
	.col-l-12 {
		width: 100%;
	}
	.mobile {
		display: none;
	}
	.desktop {
		display: block;
	}
}

@media only screen and (max-width: 600px) {
	.mobile {
		display: block;
	}
	.desktop {
		display: none;
	}
}

@media (min-width: 768px) and (max-width: 1025px) {
	.mobile {
		display: none;
	}
	.desktop {
		display: block;
	}
}

/* form elements
================ */
input {}
label {}
button {}

/* mischellaneous
================= */
.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.flex {
	display: flex;
}

.align-center {
	display: flex;
	align-items: center;
}

.center {
	display: flex;
	justify-content: center;
}

.padding-10 {
	padding: 10px;
}

.padding-30 {
	padding: 30px;
}

.padding-left-10 {
	padding-left:10px;
}

.padding-right-10 {
	padding-right:10px;
}

.padding-bottom-10 {
	padding-bottom:10px;
}

.padding-bottom-20 {
	padding-bottom: 20px;
}
/*html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/
